# Prevents 10k+ changes from being added (bad idea)
riscv/**
riscv-llvm/**

# Allows git to traverse subdirectories and find the changed files
!riscv-llvm/**/

# Every file changed to add custom instructions
!riscv-llvm/clang/include/clang/Basic/BuiltinsRISCV.td
!riscv-llvm/llvm/include/llvm/IR/IntrinsicsRISCV.td
!riscv-llvm/clang/lib/CodeGen/TargetBuiltins/RISCV.cpp
!riscv-llvm/llvm/lib/Target/RISCV/RISCVInstrInfoEncrypted.td
!riscv-llvm/llvm/lib/Target/RISCV/RISCVInstrInfo.td